body {
  background: #8ecae6;
  margin: 0;
  display: grid;
  padding: 3em;
  place-items: center;
}

.car-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.car-features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.car-card.sales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.car-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  background-color: white;
  box-sizing: border-box;
  padding: 30px;
  font-size: 26px;
}

.car-card img {
  width: 350px;
}

.car-card h2 {
  width: 360px;
  word-wrap: break-word;
}

.car-card h2,
.car-card p {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 500px;
  box-sizing: border-box;
  padding: 30px;
}

.content h4 {
  margin: 0;
}

.additional-features {
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  font-size: 26px;
}

.view-cars {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-cars button {
  background-color: #023047;
  color: #edf2f4;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid #edf2f4;
  cursor: pointer;
}

ol {
  margin-left: 0;
  li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
}

.button {
  background: hotpink;
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: 0.25em 0.75em;
  transition: all 0.25s ease-in;
  &:hover {
    background: white;
    border: 1px solid hotpink;
    color: #333;
  }
}
